/* wishlist.css */

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.contain-wishlist {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(0,0,0,0.34902); 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
  
  .wishlist__box {
    position: relative;
    margin: 30px 20px;
    background-color: #fff;
    width: 30%;
    height: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: slideIn 0.4s ease-out;
  }

  .titleWishlist {
    text-align: center;
    text-transform: uppercase;
    font-family: 'AQUAGrotesk-Medium', sans-serif;
  }
  
  .sec-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    height: 50px;
    background: #f3f3f3;
  }

  .addProduct {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .btnMoveProduct {
    padding: 5px 15px;
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 11px;
    width: 121px;
  }

  .disabled:hover {
    opacity: 0.8;
  }

  .iconClose {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px; 
    cursor: pointer;
    border-radius: 0;
    background: #f3f3f3;
    border: none;
    padding: 5px;
  }

  .iconClose:focus {
    border: none;
    outline: none;
  }

  .iconClose:hover {
    background: #e0e0e0;
  }
  
  .carousel-wishlist {
    width: 90%;
    height: 85% !important;
    max-height: 90%;
    overflow-x: hidden;
    overflow-y: auto;
    margin: auto;
    padding: 10px 25px 20px 25px;
  }

    .carousel::-webkit-scrollbar {
        width: 8px;
    }

    .carousel::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 4px;
    }
  
  .product-image {
    width: 120px;
  }

  .productsAddedWishlist {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  .expander-icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    right: 11px;
    width: 20px;
    height: 30px;
    opacity: 1;
    transition: 250ms ease-out opacity 350ms;
  }

  .expander-icon svg {
    width: 20px;
    height: 20px;
    padding: 5px;
  }

  /* ESTILOS TEMPORALES */

  .custom-select {
    display: inline-block;
    position: relative;
    cursor: pointer;
  }
  
  .selection-container {
    position: relative;
    width: 78px;
    margin-right: 10px;
  }
  
  .selected-option {
    position: relative;
    padding: 8px;
    height: 30px;
    text-align: left;
    align-items: center;
    justify-content: left;
    border: 1px solid #000;
    border-radius: 4px;
    display: flex;
    text-transform: uppercase;
  }

  .selected-option.open {
    border-color: transparent;
    margin-left: -1px;
    z-index: 10;
  }

  .initial-box {
    text-align: left;
    align-items: center;
    justify-content: left;
    display: flex;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .options {
    position: absolute;
    top: 100%;
    margin-top: -28px;
    left: 0;
    width: 78px;
    background-color: #fff;
    border: 1px solid rgb(30, 30, 30);
    border-radius: 4px;
    overflow: hidden;
    height: 28px;
    max-height: auto;
    opacity: 0;
    z-index: 50;
    transition: height 0.25s ease-in-out, opacity 0.25ms ease-in-out;
  }
  
  .options.open {
    height: 170px;
    opacity: 1;
    z-index: 3;
  }

  .option {
    padding: 8px;
    text-transform: uppercase;
    text-align: left;
    cursor: pointer;
  }
  
  .option:hover, .active-option {
    background-color: #f0f0f0;
  }
  
  .tallas-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: max-content;
    background-color: #fff;
    border: 1px solid rgb(30, 30, 30);
    border-radius: 4px;
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: height 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }
  
  .tallas-container.open {
    height: auto;
    opacity: 1;
  }
  
  .talla-option {
    padding: 8px 30px;
    text-transform: uppercase;
    text-align: left;
    cursor: pointer;
  }
  
  .talla-option:hover {
    background-color: #f0f0f0;
  }
  
  
  /**/

  .size-product-w {
    text-transform: uppercase;
    padding: 8px;
    background: #ebebeb;
    cursor: pointer;
    outline: none;
    width: auto;
    border-radius: 4px;
  }
  
  .info-product {
    text-align: left;
    margin-left: 15px;
    font-size: .75rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .title__product {
    white-space: nowrap; 
    overflow: hidden;  
    text-overflow: ellipsis;  /* Muestra puntos suspensivos (...) cuando el texto se corta */
    max-width: 146px;  
  }
  
  .rightSec {
    float: right;
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  .info_buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .options-product {
    display: block;
    float: right;
  }

  .btnOptionsWish {
    background: transparent;
    border: none;
    width: 35px;
    height: 35px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
  }

  .btnOptionsWish:hover {
    background: #f3f3f3;
  }

  .btnOptionsWish svg {
    color: #000;
    width: 20px;
    display: block;
  }
  
  .price-product {
    font-size: .875rem;
    line-height: 1.1;
    color: rgb(1, 1, 1);
    font-weight: 600;
  }

  .emptyWishlist {
    position: absolute;
    width: 80%;
    height: 76%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }

  .emptyWishlist h2 {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 8px;
  }

  .emptyWishlist p {
    font-size: .875rem;
    font-weight: 400;
    max-width: 296px 
  }

  .emptyWishlist img {
    width: 300px;
  }

  .emptyWishlist button {
    color: #fff;
    border: none;
    margin-top: 30px;
  }