/* wishlist.css */

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.contain-wishlist {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.369); /* Fondo oscuro con opacidad */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }
  
  .wishlist__box {
    position: relative;
    margin: 30px 20px;
    background-color: #fff;
    width: 30%;
    height: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: slideIn 0.4s ease-out;
  }

  .titleWishlist {
    text-align: center;
    text-transform: uppercase;
    font-family: 'AQUAGrotesk-Medium', sans-serif;
  }
  
  .sec-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    height: 50px;
    background: #f3f3f3;
  }

  .iconClose {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px; 
    cursor: pointer;
    border-radius: 0;
    background: #f3f3f3;
    border: none;
    padding: 5px;
  }

  .iconClose:focus {
    border: none;
    outline: none;
  }

  .iconClose:hover {
    background: #e0e0e0;
  }
  
  .carousel {
    width: 90%;
    height: 90%;
    max-height: 90%;
    overflow-x: hidden;
    overflow-y: auto;
    margin: auto;
    padding: 10px 25px 20px 25px;
  }

    .carousel::-webkit-scrollbar {
        width: 8px;
    }

    .carousel::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 4px;
    }
  
  .product-image {
    width: 110px;
  }

  .productsAdded {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .info-product {
    text-align: left;
    margin-left: 15px;
    font-size: .75rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .title__product {
    white-space: nowrap; 
    overflow: hidden;  
    text-overflow: ellipsis;  /* Muestra puntos suspensivos (...) cuando el texto se corta */
    max-width: 146px;  
  }
  
  .rightSec {
    float: right;
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  .info_buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .options {
    display: block;
    float: right;
  }

  .btnOptionsWish {
    background: transparent;
    border: none;
    width: 35px;
    height: 35px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
  }

  .btnOptionsWish:hover {
    background: #f3f3f3;
  }

  .btnOptionsWish svg {
    color: #000;
    width: 20px;
    display: block;
  }
  
  .price-product {
    font-size: .875rem;
    line-height: 1.1;
    color: rgb(1, 1, 1);
    font-weight: 600;
  }

  .emptyWishlist {
    width: 80%;
    height: 82%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }

  .emptyWishlist h2 {
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 8px;
  }

  .emptyWishlist p {
    font-size: .875rem;
    font-weight: 400;
    max-width: 296px 
  }

  .emptyWishlist img {
    width: 300px;
  }

  .emptyWishlist button {
    color: #fff;
    border: none;
    margin-top: 30px;
  }