#Header__contain {
    z-index: 4;
}

.fixedHeader {
    position: fixed;
    width: 100%;
    top: 0px;
}

.gender {
    letter-spacing: .5px;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 20px;
    font-size: 13.5px;
}

.header__shopi {
    padding: 1rem 70px;
}

.Logo {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translate(-50%, 0%);
}

.c-main-nav {
    margin-right: 0px;
    margin-left: 20px;
}

.c-main-nav::before {
    content: ""; 
    position: absolute;
    width: 1px;
    margin-left: -52px;
    height: 25px;
    background-color: #000;
}

.c-main-nav-white::before {
    content: ""; 
    position: absolute;
    width: 1px;
    margin-left: -52px;
    height: 25px;
    background-color: #FFF;
}

.search {
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'AQUAGrotesk-Medium', sans-serif;
}

.search .colorIconHeader {
    width: 25px;
    height: 25px;
}

.cartOptions {
    gap: 16px;
    padding: 15px 0px;
    align-items: center;
}

.transparent {
    background: transparent;
    transition: all ease-in-out 0.2s;
}

.transparent-background {
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s ease;
    transition: all ease-in-out 0.2s;
}

.c-white {
    color: #FFF!important;
}

.c-white .cartIcon {
    color: #FFF !important;
}

.logo__white {
    fill: #FFFFFF !important;
    color: #ffffff !important;
}

.logo__white svg {
    fill: #FFFFFF !important;
    color: #FFFFFF !important;
}

.pointer-c {
    cursor: pointer;
}

.heartIconAnimation {
    animation: heartBeat 0.5s ease-in-out;
}
  
@keyframes heartBeat {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

@media screen and (max-width: 800px) {
    .Logo {
       left: 60px;
       position: relative;
    }
}

