#Search-wrapper {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: #fff;
    padding: 15px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    animation: 600ms cubic-bezier(0.59, 0.01, 0.28, 1) 0s 1 normal forwards running slideInSearch;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: auto;
}

.no-overflow {
    overflow: hidden !important;
    scroll-behavior: none !important;
}

.contain-pop {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: #000;
    opacity: .5;
    left: 0;
    top: 0;
    transition: top 0.3s;
}

.content--wrapper {
    width: 100%;
    height: 100%;
}

.containHeader {
    width: 100%;
    height: auto;
    top: 86px;
    background: #fff;
    left: 0;
    position: fixed;
}

.controls {
    width: 94%;
    padding-bottom: 30px;
    margin: auto;
}

.suggestions {
    width: 100%;
    height: auto;
    margin: 4px 32px 24px;
    font-size: 15px;
}

.suggestions__list {
    list-style: none;
}

.suggestion__item {
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.suggestion__link {
    color: #b4b4b4;
    padding-right: 24px;
    padding-left: 8px;
    align-self: center;
    text-decoration: none; 
    cursor: pointer;
}

.icon--suggestion {
    width: 16px;
    height: 16px;
    color: #666;
}

.highlight {
    color: #636363;
}

.search_bar {
    position: relative;
    border: 0px;
    margin: 0px;
    border-radius: 0px;
    width: 100%;
    align-items: center;
    padding: 0px;
    height: 62px;
    display: flex;
    border-bottom: 1px solid #000;
    font-family: 'Poppins', sans-serif;
}

.search_bar svg {
    margin-top: 6px;
    margin-right: 13px;
    padding: 0px;
    writing-mode: horizontal-tb !important;
}

.search_bar input {
    width: 100%;
    font-size: 26px;
    transition: font-size 0.2s ease-in-out 0s;
    outline: none;
    padding-right: 10px;
    writing-mode: horizontal-tb !important;
    padding-right: 25px;
}

.is-capitalized {
    text-transform: capitalize;
}

.btnDeleteWords {
    padding: 0px;
    margin-left: 10px;
    border-radius: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    cursor: pointer;
}

.btnDeleteWords svg {
    margin: auto;
    width: 35px;
    height: 35px;
    color: #8e8e8e;
}

.recommended {
    width: 100%;
    height: auto;
    min-height: calc(100vh - 48px);
    overflow-x: hidden;
    overflow-y: auto;
    margin: 20px auto;
    scroll-behavior: auto;
    transition: .1s;
}

.grid__area {
    margin: 150px 0px;
}

.recommended h1 {
    margin: 24px 0px 18px;
    padding: 0px;
    letter-spacing: 0.5px;
    font-weight: 600;
    font-size: 24px;
    font-family: 'AQUAGrotesk-Medium', sans-serif;
    text-align: left;
}

.scroll_products {
    width: 100%;
    height: 90%;
    max-height: 90%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, minmax(187px, 20%));
    gap: 15px 10px;
    grid-auto-rows: 1fr;
    justify-content: flex-start;
    overflow-x: visible;
    overflow-y: auto;
}

.example {
    width: 100%;
    height: 367px;
    background-color: #000;
}

/* PRODUCTS */


.c-image {
    position: relative;
}

.figure {
    position: relative;
}

.figure img {
    background-position: center;
}

.cproduct-info {
    padding: 10px 0 20px;
}

.title__section {
    font-family: 'AQUAGrotesk-Medium', sans-serif;
}

.sizes {
    width: 100%;
    padding: 13px;
    position: absolute;
    bottom: 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 13px;
    border-width: 1px;
    border-color: #e1e1e1;
    font-family: 'AQUAGrotesk-Medium', sans-serif;
}

.sizes p {
    font-size: 15px;
    font-weight: 400;
}

.cproduct-sizes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.sizesContainer {
    display: flex;
    margin: 0px 10px;
    gap: 8px;
    margin: auto;
}

.sizeProduct {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 14px;
    color: #000;
    background: transparent;
    text-transform: uppercase;
}

.sizeProduct:hover {
    border-color: #000;
}

.noResults {
    margin: 40px 0;
}

.results {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    margin-top: 20px;
}

.count__results {
    flex: 1;
    font-size: .875rem;
    text-align: left;
}

.search-filters {
    display: flex;
    grid-gap: 12px;
    font-size: .875rem;
}

.search-filters-tags {
    height: 32px;
    border-radius: 4px !important;
    padding: 8px;
    line-height: 1;
    font-size: .875rem;
}

.grid-tag.is-outline {
    background: none;
    border: 1px solid #e6e6e6;
    color: #000;
}

.grid-tag.is-outline.active {
    color: #FFF;
    background-color: #000;
    border-color: #000;
    font-weight: 700;
}

.search-results-header__filters-button {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.search-results-header .filter-button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0,0,0,.15);
}
.filter-button {
    position: relative;
}

.touch-area-wrapper {
    display: flex;
}

.is-naked-filter {
    background: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    padding: 0;
}

.touch-area-wrapper .touch-area.is-icon {
    transform: translateX(-12px);
}

.icon-container.icon-size-24 {
    width: 24px;
    height: 24px;
}

.search-results-header .filter-button .icon-container.icon-size-24 [class^=bskico-] {
    margin: -4px 0 0 -4px;
}

.icon-container [class^=bskico-] {
    line-height: 40px;
    font-size: 40px;
    width: 40px;
    height: 40px;
    display: block;
}

[class^=bskico-] {
    font-family: Bershka,Helvetica,Arial,sans-serif!important;
    font-style: normal;
    font-weight: 400;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.emptyProducts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.emptyProducts img {
    width: 120px;
    height: 120px 
}

.empty--title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 8px;
    font-family: 'Poppins', sans-serif;
}

.emptyProducts .text {
    max-width: 532.96px;
    font-weight: 300;
    font-size: .875rem;
}

@keyframes fill {
    to {
      transform: scale(1.2);
      color: #e03a3a !important; 
    }
}

.name {
    padding: 0px 5px;
    text-overflow: ellipsis;
}

.name span {
    letter-spacing: .4px;
    color: #000;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    white-space: nowrap;
    text-align: center;
    vertical-align: baseline;
    font-size: 0.9rem;
}

.price {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 0.8rem;
    justify-content: center;
}

.price span {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    letter-spacing: .4px;
    line-height: 12px;
    text-transform: none;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.btn__wishlist {
    padding: 10px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:  0 2px 4px rgba(0, 0, 0, 0.06), 0 4px 6px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    position: absolute;
    right: 5px;
    bottom: 15px;
}

input[type="search"] {
    appearance: textfield;
}

input[type="search" i] {
    appearance: auto;
    box-sizing: border-box;
    writing-mode: horizontal-tb !important;
    padding-block: 1px;
    padding-inline: 2px;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-clear-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

@keyframes slideInSearch {
    0% {
        max-height: 0px;
    }
    
    100% {
        max-height: calc(8.57px * 100);
    }
}