#PageNotFound {
    font-family: 'AQUAGrotesk-Medium', sans-serif;
    font-size: 40px;
    margin: auto;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    width: 70%;
}

.textNotFound {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.btnReturnMain {
    padding: 20px;
    color: #fff;
    font-size: 30px;
    width: 100%;
    text-transform: uppercase;
}

.boxLogoNF {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LogoNotFound {
    position: absolute;
    top: 70px;
    width: 6.5rem;
}

@media screen and (max-width: 800px){
    #PageNotFound {
        font-size: 30px;
        width: auto;
    }

    .btnReturnMain {
        font-size: 20px;
    }
    
}